<h1>User List</h1>
<p>Here is the list of all existing users:</p>
<table>
  <tr>
    <th>Name</th>
	<th>E-mail</th>
	<th></th>
  </tr>
  
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= link_to 'Wishlist', user %></td>
  </tr>
  <% end %>
 </table>

<br />
<p>Data provided as for <%= @current_time %></p>

<%= link_to 'New user', new_user_path %>