<h2>Wishlist of <%= @user.name %>:</h2>
<ul id="wishlist">
 <% if @user.wishes.empty? %>
	<em> Don't you wish anything? </em>
 <% else %>
<%= render :partial => 'wishes/wishlist', :collection => @user.wishes %>
 <% end %>
</ul> 

<h2>Add new wish</h2>
<% form_for([@user, @user.wishes.build]) do |f| %>
  <%= error_messages_for 'user' %>
    
  I wish... <%= f.text_field :idea %>

  <%= f.submit %>
<% end %>
  